  <nav>
    <button type="button" class="nav-logo" id="nav-brand">
      <img class="nav-quill-img" src="/assets/images/quillio-quill.png?v=__BUILD__" alt="Quillio">
      <span class="nav-wordmark">Quillio</span>
    </button>
    <div class="nav-links">
      <button type="button" class="nav-link__ACTIVE:brief__" id="nav-new">Brief</button>
      <button type="button" class="nav-link__ACTIVE:projects__" id="nav-history">Projects</button>
      <button type="button" class="nav-link__ACTIVE:settings__" id="nav-settings">Settings</button>
    </div>
  </nav>
